[ghq]
	root = ~/src
[alias]
	cb = checkout -b
	ss = status
	cm = commit -m
	c = switch -c
	cp = cherry-pick
	l = log --pretty=format:\"%C(yellow)%h %C(auto)%s [%C(reset)%an] %x09%C(blue)%D %C(green)(%ad)\"
[user]
	email = kazuki.chigichan@gmail.com
	name = Kazuki Chigita
